/*font-family*/

p {
	font-family: "Arial";
}

h1 {
	font-family: "Georgia";
}


/*font-size*/

body {
	font-size: 10px;
}

/*
em is used to define relative size.
1em is the font size of its parent.
By default the value of 1em is 16px according to mdn.
*/

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 2.0em;
}

/*font-weight*/

p {
	/*by default the value of font weight is normal
	fonts also allow us to specify numeric font weight
	the range of which lies between 100 and 800 in steps of 100*/
	font-weight: bold;
}

/*line-height*/

/*line-height=x will increase the line size to x times its original value*/

p {
	line-height: 1.5;
}

/*text-align*/

/*left right or center*/

h1 {
	text-align: right;
}

p {
	text-align: right;
}

/*text-decoration*/

/*Used for underline and strike thru effect*/

h1 {
	text-decoration: line-through;
}

p {
	text-decoration: underline;
}